In [3]:
import pandas as pd 
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from ggplot import *
%matplotlib inline
train = pd.read_csv("DataFiles/CreditCard_train.csv",header = 1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 25 columns):
ID                            24000 non-null int64
LIMIT_BAL                     24000 non-null int64
SEX                           24000 non-null int64
EDUCATION                     24000 non-null int64
MARRIAGE                      24000 non-null int64
AGE                           24000 non-null int64
PAY_0                         24000 non-null int64
PAY_2                         24000 non-null int64
PAY_3                         24000 non-null int64
PAY_4                         24000 non-null int64
PAY_5                         24000 non-null int64
PAY_6                         24000 non-null int64
BILL_AMT1                     24000 non-null int64
BILL_AMT2                     24000 non-null int64
BILL_AMT3                     24000 non-null int64
BILL_AMT4                     24000 non-null int64
BILL_AMT5                     24000 non-null int64
BILL_AMT6                     24000 non-null int64
PAY_AMT1                      24000 non-null int64
PAY_AMT2                      24000 non-null int64
PAY_AMT3                      24000 non-null int64
PAY_AMT4                      24000 non-null int64
PAY_AMT5                      24000 non-null int64
PAY_AMT6                      24000 non-null int64
default payment next month    24000 non-null int64
dtypes: int64(25)
memory usage: 4.6 MB

NameError: name 'df' is not defined

In [4]:
train[['SEX', 'EDUCATION', 'MARRIAGE']].describe()

                SEX     EDUCATION     MARRIAGE
count  24000.000000  24000.000000  24000.00000
mean       1.628250      1.847417      1.55725
std        0.483282      0.780007      0.52208
min        1.000000      0.000000      0.00000
25%        1.000000      1.000000      1.00000
50%        2.000000      2.000000      2.00000
75%        2.000000      2.000000      2.00000
max        2.000000      6.000000      3.00000